# Настройки Modbus
MOTBUS_IP_ADDR=0.0.0.0
MOTBUS_PORT=8000

# URL для аутентификации и API
AUTHENTICATION_URL=auth_url
POST_URL=post_url
GET_URL=get_url

# IP для ping проверки
PING_IP=0.0.0.0

# Параметры задержек (в секундах)
SLEEP_FOR_WRTODB=5
SLEEP_FOR_SYNC=60

# Данные для аутентификации
AUTH_LOGIN=login
AUTH_PASSWORD=password!

# Лимит SQL-запроса
LIMIT_SQL=2000
